<h1>Places</h1>

<% if current_user.present? %>
  <a href="/places/new" class="btn btn-outline-dark my-3">New Place</a>
<% end %>

<% @places.each do |place| %>
  <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
<% end %>